@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;500;600;700&family=Poppins:wght@400;500;700&family=Rock+Salt&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
}

button,
select {
    background: transparent;
    border: none;
    outline: none;
    color: var(--secondaryColor);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
button:focus, select:focus {
    outline: none;
}

:root {
    --light: #eee;
    --dark: #22222b;

    --lg: 1500px;
    --md: 720px;
    --sm: 576px;
}

/* Blue Theme */
.dark-theme-1 {
    --primaryColor: #7986cb;
    --secondaryColor: #9fa8da;
    --semi-transparent: #38417743;
    --text-1: #f3f3f3;
    --text-2: #22222b;
    --text-3: #aaaaaf;
    --bg: linear-gradient(to bottom, #21212b, #020717);
    --revMode1: #c5cae9;
}
.light-theme-1 {
    --primaryColor:#303f9f;
    --secondaryColor: #3949ab;
    --semi-transparent: #3949ab44;
    --text-1: #22222b;
    --text-2: #f3f3f3; 
    --text-3: #444;
    --bg: linear-gradient(to bottom, #ebeaf6, #b5bbde);
    --revMode1: #0d133b;
}

/* Pleasant Theme (Pastel) */
.dark-theme-2 {
    --primaryColor: #2598af;
    --secondaryColor: #387294;
    --semi-transparent: #26323880;
    --text-1: #E0E0E0;
    --text-2: #1d2326;
    --text-3: #80CBC4;
    --bg: linear-gradient(to bottom, #1c252a, #181818);
    --revMode1: #B2EBF2;
}
.light-theme-2 {
    --primaryColor: #37677f;
    --secondaryColor: #385e7c;
    --semi-transparent: #699ab780;
    --text-1: #212121;
    --text-2: #FAFAFA;
    --text-3: #206473;
    --bg: linear-gradient(to bottom, #e8e8e8, #97cbd9);
    --revMode1: #263238;
}

/* Red Theme */
.dark-theme-4 {
    --primaryColor: #d53f3f;
    --secondaryColor: #d15757;
    --semi-transparent: #5743434e;
    --text-1: #FFFFFF;
    --text-2: #22222b;
    --text-3: #AAAAAA;
    --bg: linear-gradient(to bottom, #161616, #170702);
    --revMode1: #da5a51;
}   

/* Green Theme */
.dark-theme-3 {
    --primaryColor: #126a54;
    --secondaryColor: #209279;
    --semi-transparent: #273e3844;
    --text-1: #f3f3f3;
    --text-2: #22222b;
    --text-3: #aaaaaf;
    --bg: linear-gradient(to bottom, #080808, #1a1d1a);
    --revMode1: #c6efce;
}
.light-theme-3 {
    --primaryColor: #00937b;
    --secondaryColor: #00a481;
    --semi-transparent: #45736869;
    --text-1: #22222b;
    --text-2: #f3f3f3;
    --text-3: #444;
    --bg: linear-gradient(to bottom, #f7f7f7, #91c0b4);
    --revMode1: #1a1d1a;
}

.light-theme-4 {
    --primaryColor: #d93131;
    --secondaryColor: #d65a56;
    --semi-transparent: #5239394e;
    --text-1: #22222b;
    --text-2: #FFFFFF;
    --text-3: #777777;
    --bg: linear-gradient(to bottom, #d6d6d6, #fbb9b9);
    --revMode1: #8B0A1A;
}   



/* Custom react toast styles */
.custom-toast {
    background-color: var(--semi-transparent);
    backdrop-filter: blur(15px);
}

*::-webkit-scrollbar {
    width: 12px;
    background: var(--text-2);
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    width: 10px;
    border: 2.5px var(--text-2) solid;
    border-radius: 10px;
}

.credTag {
    display: none;
    background-color: var(--text-1);
    color: var(--text-2);
    position: absolute;
    padding: 5px;
    font-size: 12px;
    z-index: 500;
}

img:hover + .credTag {
    display: inline-block;
}

.fas {
    font-size: 1.5rem;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.btn1 {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--secondaryColor);
    color: var(--text-2);
    font: 600 1.5rem 'Comic Neue', "Poppins", sans-serif;
    transition-property: color, background-color, transform;
    transition-duration: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn2 {
    display: block;
    width: auto;
    height: 3rem;
    color: var(--text-2);
    background-color: var(--secondaryColor);
    border-radius: 3rem;
    padding: 0 2rem;
    text-transform: uppercase;
    font: 700 1.25rem "Comic Neue", "Poppins", sans-serif;
}

.btn1:hover, .btn2:hover {
    background: var(--primaryColor);
    transform: scale(.95);
}

.hz_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body {
    width: min(100%, var(--lg));
    height: 100vh;
    overflow-x: hidden;
    font: 400 1.1rem "Comic Neue", "Poppins", sans-serif;
    background: var(--bg);
    background-size: 100% 200%;
    margin: 0 auto;
    color: var(--text-1);
    letter-spacing: .5px;
}

section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--secondaryColor);
}

/* Loader Page Starts */
.loaderCover {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 101;
    background-color: var(--semi-transparent);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    top: 0;
    left: 0;
}

.loader {
    width: 100px;
    height: 100px;
    border: 8px transparent solid;
    border-color: transparent var(--semi-transparent) var(--secondaryColor) var(--primaryColor);
    border-radius: 50%;
    animation: spin .6s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loaderText {
    color: var(--secondaryColor);
    margin: 30px auto;
    font-size: 1.5rem;
}

/* Loader Page Ends */

/* Starter Page Begins */
.hamburger {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

.bar {
    width: 90%;
    height: 3px;
    background-color: var(--primaryColor);
    border-radius: 3px;
    display: block;
    transition: transform .2s;
}

.crossHam .bar:nth-child(1) {
    transform: translateY(195%) rotate(45deg);
}

.crossHam .bar:nth-child(2) {
    transform: translateY(-195%) rotate(-45deg);
}

.homePage, .resultPage, .leaderboardPage {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    background: var(--bg);
}

.quizControls, .quizResults {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
}

.gameTitle {
    text-align: center;
    line-height: 1.9;
    font: 400 3rem "Rock Salt", cursive;
}

.gameTitle p {
    font: 400 1.3rem "Comic Neue", "Poppins", sans-serif;
}

#logo {
    font: 700 7.7rem "Rock Salt", cursive;
    display: block;
    line-height: 1.8;
}

.btn_box>select::-ms-expand {
    display: none;
}

.btn_box>label {
    display: block;
    text-align: center;
    padding: 2px 0;
}

.startBtn {
    margin: 0 auto 1rem;
}

.btn_box>select {
    font-size: 1.5rem;
    width: auto;
    height: 3rem;
    border-radius: 3rem;
    display: block;
    margin: 0 auto 1rem;
    padding: 0 2.5rem;
    text-transform: uppercase;
    font: 700 1.25rem "Comic Neue", "Poppins", sans-serif;
}

.btn_box>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--text-1);
    text-align: center;
    min-width: 200px;
    transition: background-color .2s;
    background-color: var(--semi-transparent);
}

.btn_box>select:hover {
    background-color: var(--primaryColor);
    color: var(--text-2);
}

.btn_box option {
    background: var(--dark);
    color: var(--light);
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    font: 700 1.4rem "Comic Neue", "Poppins", sans-serif;
}

.top_bar_right {
    display: flex;
    align-items: center;
}

.mode_btn,
.profile_btn {
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .8rem;
    position: relative;
}

.profile_btn img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* .hs_box,.mode_box{
    position:absolute;
    top:0;
    margin:.5rem 1rem;
}
.hs_box{
    left:0;
    font:700 1.4rem "Comic Neue", "Poppins", sans-serif;
    padding:.3rem .3rem;
    color: var(--secondaryColor);
}
.mode_box{
    right: .5rem;
    margin: 1rem;
}
.mode{
    font-size:2rem;
    padding:.3rem .5rem;
} */
#explosive_box {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--revMode1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#explosive_box.explode {
    animation: explode .13s linear;
}

@keyframes explode {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 200vmax;
        height: 200vmax;
    }
}

/* Starter Page Ends */


/* Profile section Starts */
#profile_sec,
.editProfileForm {
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 1rem "Comic Neue", "Poppins", sans-serif;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: opacity .2s;
}

.profile_box {
    width: clamp(300px, 50%, 450px);
    background: var(--bg);
    background-size: 100% 200vh;
    background-position: fixed;
    border-radius: 1rem;
    overflow: hidden;
    top: 1rem;
    font-size: 1rem;
}

.profile_close_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem;
    z-index: 50;
}

.upper_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 3rem 0 1.2rem;
    font-weight: 600;
    text-align: center;
}

#avatar {
    width: 40%;
    min-width: 150px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--revMode1);
}

.lower_profile>p,
#edit_profile_btn {
    width: 100%;
    padding: 1rem;
    font: 500 1.1rem "Comic Neue", "Poppins", sans-serif;
    text-align: left;
    font-weight: 600;
}

.lower_profile>p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px var(--text-3) solid;
}

.lower_profile>p span {
    float: right;
}

#edit_profile_btn {
    background-color: var(--primaryColor);
    color: var(--light);
    transition: all .2s;
}

#edit_profile_btn:hover {
    background-color: var(--secondaryColor);
}

#edit_profile_btn b {
    font-size: 1rem;
    padding-left: .2rem;
}

/* Profile section Ends */


/* Edit Profile section Starts */
.editProfileForm {
    background: var(--bg);
    place-items: center;
}

.editProfileForm h3 {
    width: min(90%, var(--sm));
    text-align: right;
    font-size: 1.5rem;
}
.editProfileForm form {
    background-color: var(--semi-transparent);
    width: min(90%, var(--sm));
    border-radius: .6rem;
    padding: 1.4rem 1rem .5rem;
    margin: 1rem auto;
    box-shadow: 0 .3em .6em rgba(0, 0, 0, 0.2);
}

.inputBox {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.editProfileForm label {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem .2rem;
}

.editProfileForm input {
    background: transparent;
    border-bottom: 1px var(--primaryColor) solid;
    padding: .5rem 0 .6rem .2rem;
    color: var(--text-1);
    font-size: 1.2rem;
    border-radius: 0;
}

.inputBox label[for="avatarFile"] {
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
}

.inputBox img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#avatarFile {
    visibility: hidden;
    position: absolute;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.cancelBtn {
    background: var(--semi-transparent);
}
.saveBtn {
    background: var(--primaryColor);
}

.buttonBox button {
    border-radius: 2rem;
    padding: .8rem 2rem;
    margin: 0;
    font: 600 1.1rem 'Comic Neue', "Poppins", sans-serif;
}

.errorBox {
    color: rgb(255, 72, 72);
    text-align: center;
}

/* Edit Profile section Ends */


/* Game Page */
.quesPage,
.progress_box,
.ques_box,
.vt_box,
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quesPage {
    justify-content: center;
    display: flex;
    background: var(--bg);
    animation: come-from-down .3s;
}

.progress_box {
    padding: 1rem 0;
    width: calc(100% - 3rem);
    max-width: var(--md);
}

.ques_box {
    justify-content: space-between;
    background: var(--semi-transparent);
    width: calc(100% - 3rem);
    max-width: var(--md);
    border-radius: .6rem;
    max-height: 60%;
    margin: 3.5rem auto 1.6rem;
    padding: 3rem 0 1.4rem;
}

.quitNnum {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#ques_num,
#quit {
    color: var(--secondaryColor);
    padding: .5rem;
    font: 700 1.5rem "Comic Neue", "Poppins", sans-serif;
}

.progress_outer {
    width: 100%;
    height: 1.6rem;
    background: var(--semi-transparent);
    border-radius: .8rem;
    padding: .4rem;
}

.progress_inner {
    width: var(--progress);
    height: 100%;
    background: linear-gradient(170deg, var(--primaryColor) 50%, var(--secondaryColor));
    border-radius: .4rem;
    transition: width .2s;
}

.timer {
    width: 5.2rem;
    height: 5.2rem;
    background: conic-gradient(#fa4 var(--timeFill), transparent var(--timeFill), transparent 100%);
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    top: -2.5rem;
    border: 2px
}

#time {
    font: 600 1.6rem "Comic Neue", "Poppins", sans-serif;
    line-height: 1;
    margin-top: .25rem;
    color: var(--dark);
}

.timer b {
    font-weight: 600;
    color: var(--dark);
}

.timer::before {
    content: "";
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    position: absolute;
    background: var(--light);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
}

#ques {
    font: 700 1.4rem "Comic Neue", "Poppins", sans-serif;
    padding: clamp(2rem, 5%, 3rem) 8%;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--text-1);
}

.vt_box {
    justify-content: space-evenly;
    width: 100%;
    padding: 0 5%;
}

.vt_box button {
    background: var(--primaryColor);
    color: var(--light);
    width: 100%;
    border-radius: .5rem;
    padding: .8rem 0;
    font: 700 1.4rem "Comic Neue", "Poppins", sans-serif;
    margin: .5rem 0;
    transition: all .3s;
}

.vt_box button:hover {
    transform: scale(.98);
}

.option.selected {
    background: linear-gradient(350deg, #f44, #fa4);
}

.nextPrevBtnBox {
    display: flex;
    justify-content: space-between;
    width: min(84%, var(--md));
    margin: 1rem auto;
}

.btn2.prevBtn {
    border-radius: 3rem 1rem 1rem 3rem;
    padding-left: 2.5rem;
}
.btn2.nextBtn {
    border-radius: 1rem 3rem 3rem 1rem;
    padding-right: 2.5rem;
}

/* Question Page Ends */

/* Result Page starts */
.quizResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: come-from-down .3s;
}

.heading {
    font: 400 3rem "Rock Salt", cursive;
    color: var(--secondaryColor);
}

#feedback {
    color: var(--secondaryColor);
    font-size: 2.2rem;
    margin: 1rem 0;
}

.stat_box {
    margin: 2rem auto;
    width: min(90%, var(--md));
    color: var(--secondaryColor);
    font-weight: 700;
}

.stat_box p {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    opacity: .9;
    padding: 1rem .2rem .5rem;
    background: transparent;
    border-bottom: 1px var(--revMode1) solid;
    width: 100%;
    font-size: 1.4rem;
}

#previewBtn {
    width: min(80%, 250px);
    height: auto;
    padding: .85rem 1.5rem;
    margin-top: 3.5rem;
    background: var(--secondaryColor);
    color: var(--text-2);
    border-radius: 2rem;
}

#previewBtn:hover {
    background: var(--primaryColor);
}

/* Preview Sheet */
#previewSheetWrapper {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    transition: opacity .2s;
}

#previewSheet {
    width: min(90%, 500px);
    height: auto;
    max-height: 90vh;
    position: relative;
    overflow-y: auto;
    background: var(--bg);
    background-size: 100% 100vh;
    background-position: fixed;
    border-radius: 6px;
    color: var(--primaryColor);
}

#previewSheet h1 {
    width: 100%;
    text-align: center;
    padding: 14px;
    background: var(--bg);
    background-size: 100% 100vh;
    background-position: fixed;
    border-bottom: 1px var(--secondaryColor) solid;
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 5;
}

#previews {
    text-align: left;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
}

#previews>div {
    margin: 17px auto;
}

#previews>div {
    margin-bottom: 2px;
    font-size: 15px;
    line-height: 1.1;
}

#previews .ques {
    color: var(--text-1);
    font-size: 16px;
}

.c_a {
    color: #00b855;
}

#previewBack {
    display: block;
    margin: 15px auto 0;
    color: var(--primaryColor);
    padding: 1.2rem 0;
    font-size: 14px;
    border-top: 1px var(--secondaryColor) solid;
    width: 100%;
    font-weight: 600;
}

.hz_box.homeRestart_box button {
    margin: .5rem 3rem;
}

.sound_box {
    background-color: var(--semi-transparent);
    width: 8.4rem;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4.2rem;
    padding: .25rem;
}

.musicCross {
    opacity: 0.6;
}

.musicCross::after {
    content: "";
    width: 2px;
    height: 3rem;
    background: var(--text-2);
    box-shadow: -1px 0 var(--light);
    position: absolute;
    top: .9rem;
    left: .9rem;
    transform-origin: center top;
    transform: rotate(-45deg);
}

/* Leaderboard Starts */
.leaderboard {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.topBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
}

.l-back {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 50;
}
.l-back i {
    font-size: 1.8rem;
}

.l-title {
    font-size: 2.6rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.leaderboard-container {
    width: 100%;
    height: auto;
    margin: 0 auto 1rem;
    padding: 0 1rem;
    border-radius: 10px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
    background: var(--semi-transparent);
    padding: .4rem;
    border-radius: 5px;
}

.l-rank, .l-user, .l-score {
    background: var(--semi-transparent);
    background: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    height: 3.8rem;
}

.l-rank {
    font-size: 1.2rem;
    color: var(--text-2);
    width: 3.4rem;
}

.l-user {
    font-size: 1.1rem;
    color: var(--text-2);
    flex: 1;
    justify-content: flex-start;
    padding: 0 1rem;
}

.l-user>img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: .8rem;
}

.l-score {
    min-width: 5cap;
    color: var(--text-2);
}

.l-name b, .l-name i {
    display: block;
    text-align: left;
}
.l-name i {
    color: rgb(38, 38, 38);
    font-size: .85rem;
}

.pagination {
    position: relative;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
}

/* Leaderboard Ends */

/* Copyright */
#copyright {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font: 400 12px sans-serif;
    padding: 5px 0;
    background: #0005;
    color: var(--light);
}

/* Result Page Ends */


/* --- Come from Down Page Animation --- 
@keyframes come-from-down{
    from{top:100%;}
    to{top:0;}
}
/* --- Come from Up Page Animation --- 
@keyframes come-from-up{
    from{top:-100%;}
    to{top:0;}
}
*/

/* Media Queries */
@media screen and (max-width: 800px) {
    html {
        font-size: 13px;
    }
    .quizControls {
        padding-bottom: 2rem;
    }
    .hamburger {
        display: flex;
    }
}