.loginPage{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   font-size: 16px;
   padding: 0 1.5rem;
}

.gameTitle{
   color: var(--secondaryColor);
   margin-bottom: 2rem;
   font-family: 'Rock Salt', 'Poppins', sans-serif;
   font-size: 2.5em;
}

.container {
   width: 100%;
   max-width: 550px;
   padding: 1.5em;
   color: var(--secondaryColor);
}

.container h2{
   text-align: center;
   padding-bottom: 1.5em;
   font-size: 2em;
}

.loginForm {
   max-width: 550px;
   margin: 0 auto; 
}

.inputBox{
   margin-bottom: 1em;
}

.inputBox i{
   position: absolute;
   bottom: 0;
   right: 0;
   font-size: .95em;
   padding: 1em;
}
.inputBox>.fa-eye, .inputBox>.fa-eye-slash{
   cursor: pointer;
}

label{
   display: inline-block;
   padding: .2em 1.2em;
}

input{
   outline: none;
   font-size: 14px;
   width: 100%;
   box-sizing: border-box;
   border: none;
   border-radius: 3em;
   padding: 1em 2em 1em 1.4em;
   background: var(--semi-transparent);
   color: var(--light);
}

input:focus{
   background: var(--secondaryColor);
}

.errorBox {
   color: rgb(255, 72, 72);
   text-align: center;
   font-size: .85em;
}


button[type="submit"] {
   border: none;
   width: auto;
   height: auto;
   padding: .8em 2em;
   border-radius: 4em;
   font-size: 1em;
   display: block;
   margin: 3em auto 2em;
   background-color: var(--secondaryColor);
   color: var(--text-2);
}

.alreadyAccount{
   text-align: center;
   font-size: .9em;
   color: var(--text-1);
}
.alreadyAccount a{
   text-decoration: none;
   color: var(--primaryColor);
}

