.sideMenu {
   width: 30%;
   min-width: 300px;
   max-width: 360px;
   height: 100vh;
   background: var(--semi-transparent);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
   border-radius: 0 10px 10px 0;
   overflow: hidden;
   box-shadow: 0 .3em .6em rgba(0, 0, 0, 0.2);
   color: var(--text-1);
   position: relative;
   z-index: 109;
}

.profileSection {
   padding: 20px 14px 0 14px;
   text-align: center;
   border-bottom: 1px solid #333;
}

.profilePic {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin: 15px auto;
   border: 2px solid var(--text-1);
   display: block;
}

.profileInfo {
   color: var(--text-3);
}

.fullname {
   font-size: 1.5em;
   color: var(--text-1);
   line-height: 1.6em;
}

.email,
.username {
   line-height: 1.3em;
   font-size: 0.9em;
}

.highScore {
   margin: 15px auto 10px;
   padding: 10px 16px;
   text-align: left;
   border-radius: 20px;
   background-color: var(--semi-transparent);
   color: var(--text-1);
   font-weight: 600;
}

.highScore span {
   float: right;
}

.navButtons {
   padding: 14px;
}

.navBtn {
   width: 100%;
   padding: 13px 0;
   margin: 5px 0;
   background-color: var(--secondaryColor);
   border: none;
   color: var(--text-2);
   font: 500 1em 'Poppins', sans-serif;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.navBtn:hover {
   background-color: var(--primaryColor);
}

.navBtn:focus {
   outline: none;
}

.themeBtn {
   position: absolute;
   top: 1.2rem;
   right: 1.5rem;
   z-index: 50;
}
.themeBtn i {
   font-size: 1.8rem;
}

.copyRight {
   text-align: center;
   font-size: .85em;
}

@media screen and (max-width: 800px) {
   .sideMenu {
      left: -360px;
      position: absolute;
      top: 0;
   }
   .sideMenu.openMenu {
      left: 0;
   }
}


/* theme palatte */
.themePalatte {
   position: absolute;
   z-index: 100;
   background: rgba(0, 0, 0, .5);
   -webkit-backdrop-filter: blur(40px);
   backdrop-filter: blur(40px);
   width: calc(100% - 25px);
   border-radius: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.themePalatte h3 {
   text-align: center;
   color: var(--light);
   padding-top: 10px;
}

.themeBox {
   display: grid;
   grid: 55px / 55px 55px 55px 55px;
   justify-content: center;
   gap: 1rem;
   border-radius: 5px;
   padding: 15px 10px;
   width: 100%;
   z-index: 1000;
}

.themeOption {
   border-radius: 50%;
}
.theme-1 {
   background: #7986cb;
}
.theme-2 {
   background: #456c83;
}
.theme-3 {
   background: #209279;
}
.theme-4 {
   background: #d15757;
}
.selected {
   border: 2px var(--text-1) solid;
}

.themeOption:last-child {
   margin-bottom: 0;
}

.themeOption:hover {
   transform: scale(.95);
}
 